body {
  font-family: 'Roboto', sans-serif;
}

@-webkit-keyframes time {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes time {
  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes time {
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes main-arrow {
  from {
    top: 8px;
  }

  to {
    top: 35px;
    opacity: 0;
  }
}

@-o-keyframes main-arrow {
  from {
    top: 8px;
  }

  to {
    top: 35px;
    opacity: 0;
  }
}

@keyframes main-arrow {
  from {
    top: 8px;
  }

  to {
    top: 35px;
    opacity: 0;
  }
}

.container {
  width: 89%;
  max-width: 1000px;
  margin: 0 auto;
}

#particles-js {
  height: 100vh;
  background-color: #232741;
  position: relative;
}

.ss-system {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ss-wrap {
  width: 320px;
  height: 320px;
  margin: 0 auto;
  position: relative;
}

.ss-wrap:before {
  background: white;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 35px 4px white;
  box-shadow: 0px 0px 35px 4px white;
}

.ss-content {
  width: 150px;
  height: 150px;
  margin: 75px;
  position: relative;
  float: left;
  display: inline;
  border-radius: 75px;
}

.ss-earth {
  width: 155px;
  height: 155px;
  margin: -219px 81px;
  position: relative;
  float: left;
  display: inline;
  border-radius: 80px;
  -webkit-animation: time 10s infinite linear;
  -o-animation: time 10s infinite linear;
  animation: time 10s infinite linear;
}

.ss-earth:before {
  background-image: url("../img/ss/planet-earth.svg");
  -webkit-background-size: 24px 24px;
  background-size: 24px 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
  content: '';
}

.ss-moon {
  width: 195px;
  height: 195px;
  margin: -237px auto 0 62px;
  float: left;
  border-radius: 100px;
  -webkit-animation: time 10s infinite linear;
  -o-animation: time 10s infinite linear;
  animation: time 10s infinite linear;
}

.ss-moonrev {
  width: 60px;
  height: 60px;
  float: left;
  margin: 3px 3px;
  border-radius: 55px;
  -webkit-animation: time 4s infinite linear;
  -o-animation: time 4s infinite linear;
  animation: time 4s infinite linear;
}

.ss-moonrev:before {
  background-image: url("../img/ss/moon.svg");
  -webkit-background-size: 7px 7px;
  background-size: 7px 7px;
  display: inline-block;
  width: 7px;
  height: 7px;
  content: '';
}

.main-arrow {
  width: 30px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 15px;
  position: relative;
}

.main-arrow::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #fff;
  position: absolute;
  top: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  -webkit-animation: main-arrow 2s infinite;
  -o-animation: main-arrow 2s infinite;
  animation: main-arrow 2s infinite;
}

.main-arrow_wrap {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}