body {
  font-family: 'Roboto', sans-serif;
}

@-webkit-keyframes time {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes time {
  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes time {
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes main-arrow {
  from {
    top: 8px;
  }

  to {
    top: 35px;
    opacity: 0;
  }
}

@-o-keyframes main-arrow {
  from {
    top: 8px;
  }

  to {
    top: 35px;
    opacity: 0;
  }
}

@keyframes main-arrow {
  from {
    top: 8px;
  }

  to {
    top: 35px;
    opacity: 0;
  }
}

.container {
  width: 89%;
  max-width: 1000px;
  margin: 0 auto;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.shadow-element {
  -webkit-box-shadow: 0px 10px 30px rgba(114, 124, 142, 0.83);
  box-shadow: 0px 10px 30px rgba(114, 124, 142, 0.83);
}

.slick-list,
.slick-slide,
.slick-slide:focus {
  outline: none !important;
}

.slick-slider {
  border-radius: 8px;
}

.acc {
  background-color: #fff;
  color: #515C6F;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  text-align: left;
  border: 1px solid #dadce0;
  border-radius: 8px;
  width: 100%;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-top: 15px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  outline: none;
  font-weight: 700px;
}

.acc-panel {
  color: #515C6F;
  padding: 0px 10px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease-out;
  -o-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
  font-size: 1.1em;
  line-height: 22px;
}

.acc:after {
  content: '\002B';
  font-size: 1.2em;
  color: #777;
  float: right;
  margin-left: 5px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.acc-active:after {
  content: "\2212";
  font-size: 1.2em;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.g-mb_20 {
  margin-bottom: 20px;
}

.g-fd_cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.g-fd_rr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.g-jc_fs {
  -webkit-box-pack: start !important;
  -webkit-justify-content: flex-start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.d-none {
  display: none;
}

#particles-js {
  height: 100vh;
  min-height: 600px;
  background-color: #232741;
  position: relative;
  -webkit-box-shadow: 0px 2px 8px rgba(114, 124, 142, 0.3);
  box-shadow: 0px 2px 8px rgba(114, 124, 142, 0.3);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header h1,
.header h2 {
  padding: 0;
  margin: 0;
}

.header-title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  font-size: 2em;
  text-align: center;
  font-family: 'Acme', sans-serif;
}

.header-logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.header-lang {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.header-lang__link {
  text-decoration: none;
  color: #ffffff;
  margin: 0px 10px 0px 10px;
  position: relative;
  outline: none;
}

.header-lang__link::before {
  content: '';
  bottom: -2px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}

.header-lang__link:hover::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.ss-system {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ss-wrap {
  width: 320px;
  height: 320px;
  margin: 0 auto;
  position: relative;
}

.ss-wrap:before {
  background: white;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 35px 4px white;
  box-shadow: 0px 0px 35px 4px white;
}

.ss-content {
  width: 150px;
  height: 150px;
  margin: 75px;
  position: relative;
  float: left;
  display: inline;
  border-radius: 75px;
}

.ss-earth {
  width: 155px;
  height: 155px;
  margin: -219px 81px;
  position: relative;
  float: left;
  display: inline;
  border-radius: 80px;
  -webkit-animation: time 10s infinite linear;
  -o-animation: time 10s infinite linear;
  animation: time 10s infinite linear;
}

.ss-earth:before {
  background-image: url("../img/ss/planet-earth.svg");
  -webkit-background-size: 24px 24px;
  background-size: 24px 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
  content: '';
}

.ss-moon {
  width: 195px;
  height: 195px;
  margin: -237px auto 0 62px;
  float: left;
  border-radius: 100px;
  -webkit-animation: time 10s infinite linear;
  -o-animation: time 10s infinite linear;
  animation: time 10s infinite linear;
}

.ss-moonrev {
  width: 60px;
  height: 60px;
  float: left;
  margin: 3px 3px;
  border-radius: 55px;
  -webkit-animation: time 4s infinite linear;
  -o-animation: time 4s infinite linear;
  animation: time 4s infinite linear;
}

.ss-moonrev:before {
  background-image: url("../img/ss/moon.svg");
  -webkit-background-size: 7px 7px;
  background-size: 7px 7px;
  display: inline-block;
  width: 7px;
  height: 7px;
  content: '';
}

.main-arrow {
  width: 30px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 15px;
  position: relative;
  opacity: 0.7;
}

.main-arrow::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #fff;
  position: absolute;
  top: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  -webkit-animation: main-arrow 1s infinite;
  -o-animation: main-arrow 1s infinite;
  animation: main-arrow 1s infinite;
}

.main-arrow_wrap {
  position: absolute;
  bottom: 55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #dddddd;
}

.section-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 500px;
}

.section-info {
  color: #515C6F;
  margin: 10px;
  -webkit-box-flex: 1.5;
  -webkit-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
}

.section-info__title {
  font-size: 1.4em;
  margin: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.section-info__text {
  font-size: 1.1em;
}

.section-span {
  display: block;
  margin-top: 10px;
}

.section-media {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px;
}

.section-media img {
  max-width: 350px;
  width: 100%;
  border-radius: 8px;
}

.sl-slider {
  max-width: 300px;
}

.sl-slider img {
  width: 100%;
  max-width: 350px;
  height: 100%;
}

#bef_1 {
  max-height: 600px;
}

.footer {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #3c3c3d;
  color: #fff;
  font-size: 1.3em;
}

@media (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 120px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (max-width: 800px) {
  .section-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}