#particles-js
  height: 100vh
  background-color: #232741
  position: relative
  box-shadow: 0px 2px 8px rgba(114,124,142,0.3)
  
.header
  position: absolute
  top: 0
  left: 0
  width: 100%
  display: flex
  justify-content: space-around
  align-items: center
  margin: 0 auto;
  color: #fff
  padding-top: 20px
  padding-bottom: 20px
  & h1,h2
    padding: 0
    margin: 0
  &-title
    flex: 1
    color: #fff
    font-size: 2em
    text-align: center
    font-family: 'Acme', sans-serif;
  &-logo
    flex: 1
    text-align: center
  &-lang
    flex: 1
    text-align: center
    &__link
      text-decoration: none
      color: #ffffff
      margin: 0px 10px 0px 10px
      position: relative
      &::before
        content: ''
        bottom: -2px
        left: 0
        position: absolute
        width: 100%
        height: 2px
        background-color: #fff
        transition: 0.2s
        transform: scaleX(0)
      &:hover
        &::before
          transform: scaleX(1)

.ss
  &-system
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
  &-wrap
    width: 320px
    height: 320px
    margin: 0 auto
    position: relative
    &:before
      background: white
      border-radius: 50%
      display: inline-block
      width: 50px
      height: 50px
      content: ''
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      box-shadow: 0px 0px 35px 4px white
  &-content
    width: 150px
    height: 150px
    margin: 75px
    position: relative
    float: left
    display: inline
    border-radius: 75px
  &-earth
    width: 155px
    height: 155px
    margin: -219px 81px
    position: relative
    float: left
    display: inline
    border-radius: 80px
    animation: time 10s infinite linear
    &:before
      background-image: url('../img/ss/planet-earth.svg')
      background-size: 24px 24px
      display: inline-block
      width: 24px
      height: 24px
      content: ''
  &-moon
    width: 195px
    height: 195px
    margin: -237px auto 0 62px
    float: left
    border-radius: 100px
    animation: time 10s infinite linear
  &-moonrev
    width: 60px
    height: 60px
    float: left
    margin: 3px 3px
    border-radius: 55px
    animation: time 4s infinite linear
    &:before
      background-image: url('../img/ss/moon.svg')
      background-size: 7px 7px
      display: inline-block
      width: 7px
      height: 7px
      content: ''
.main
  &-arrow
    width: 30px
    height: 50px
    border: 1px solid #fff
    border-radius: 15px
    position: relative
    opacity: 0.7
    &::before
      content: ''
      width: 8px
      height: 8px
      background-color: #fff
      position: absolute
      top: 8px
      left: 50%
      transform: translateX(-50%)
      border-radius: 50%
      animation: main-arrow 1s infinite
    &_wrap
      position: absolute
      bottom: 40px
      left: 50%
      transform: translateX(-50%)